@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
    width: 15px;
}
  
  /* Track */
::-webkit-scrollbar-track {
    background: #20202099; 
    border-left: solid 1px rgb(36, 36, 36);
}
   
  /* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(69, 69, 69); 
}
::-webkit-scrollbar-thumb:hover {
    background: rgb(49, 49, 49); 
}